*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.navegacion{
    display: flex;
}

.navegacion a{
    color: var(--colorTexto);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 600;
}

.navegacion a:hover{
    color: var(--colorPrincipal);
    transition: .4s;
}


body {
   background: url('PAISAJE\ PARA\ BLOG.png') no-repeat;
   background-size: cover;
   font-family: 'century gothic', sans-serif;
}
.box {
    width: 500px;
    background: rgba(0, 0, 0, 4);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    color: rgb(63, 230, 25);
    text-align: center;
    border-radius: 15px;
}

.box-img {
    border-radius: 50%;
    
    
}
.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
}
.box h2 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;
}
.box p {
    text-align: justify;
}

.box ul {
    list-style: none;
    margin-top: 20px;
    
}

.box ul li {
    display: inline-block;
}

.box ul li a {
    color: rgb(228, 222, 222);
    font-size: 45px;
    padding: 10px 5px;
    display: block;
    transition: all .5s ease-in-out;
    display: block;
}

.box ul li a:hover {
    color: white;
    transform: scale(1.3);
}                                                                                                                                                                                                                                                                                                                                                                                                             